<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>AddStu</servlet-name>
    <servlet-class>com.aer.servlet.AddStu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectStu</servlet-name>
    <servlet-class>com.aer.servlet.SelectStu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteStu</servlet-name>
    <servlet-class>com.aer.servlet.DeleteStu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditStu</servlet-name>
    <servlet-class>com.aer.servlet.EditStu</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>AddStu</servlet-name>
    <url-pattern>/addstu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectStu</servlet-name>
    <url-pattern>/selectstu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStu</servlet-name>
    <url-pattern>/deletestu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditStu</servlet-name>
    <url-pattern>/editstu</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
